@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<section id="mu-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-gallery-area">
                    <div class="mu-title">
                        <span class="mu-subtitle">@RestaurantMVC.Resources.Home.AboutUs</span>
                        <h2>@RestaurantMVC.Resources.Home.Gallery</h2>
                    </div>
                    <div class="mu-gallery-content">
                        <!-- Start gallery image -->
                        <div class="mu-gallery-body">
                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="~/Content/assets/img/gallery/1.jpg">
                                            <img alt="img" src="~/Content/assets/img/gallery/1.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="~/Content/assets/img/plus.png" alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->
                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="~/Content/assets/img/gallery/2.jpg">
                                            <img alt="img" src="~/Content/assets/img/gallery/2.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="~/Content/assets/img/plus.png" alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->
                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="~/Content/assets/img/gallery/3.jpg">
                                            <img alt="img" src="~/Content/assets/img/gallery/3.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="~/Content/assets/img/plus.png" alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->
                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="~/Content/assets/img/gallery/4.jpg">
                                            <img alt="img" src="~/Content/assets/img/gallery/4.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="~/Content/assets/img/plus.png" alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->
                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="~/Content/assets/img/gallery/5.png">
                                            <img alt="img" src="~/Content/assets/img/gallery/5.png"">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="~/Content/assets/img/plus.png" alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->
                            <!-- start single gallery image -->
                            <div class="mu-single-gallery col-md-4">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a class="mu-imglink" href="~/Content/assets/img/gallery/3.jpg">
                                            <img alt="img" src="~/Content/assets/img/gallery/3.jpg">
                                            <div class="mu-single-gallery-info">
                                                <img class="mu-view-btn" src="~/Content/assets/img/plus.png" alt="plus icon img">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End single gallery image -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>